body {
    font-family: "Bondi", sans-serif;
    /* min-height: 10000px !important; */
}

/* Start nav */
.navbar ul li a.active {
    color: #33d1cc !important;
}

.navbar ul li a:hover {
    color: #33d1cc !important;
}

/* End nav */


/* Start landing */
.landing {
    min-height: calc(100vh - 72px);
}


/* End landing */


/* Start Features */

.intro-section .line-intro {
    margin: auto;
    height: 2px;
    width: 9rem;
    background-color: #33d1cc;
}


.card-feature .icons-holder{
    height: 180px;
}

/* End Features */


/* Start Work Section */

.work-section{
    background-color: #eff7fa;
}


.work-section ul li:hover {
    color: #dc3545 !important;
}

.work-section ul li:first-child :hover {
    background-color: white !important;
}

.work-section .row .box::before{
    content: attr(data-work);
    /* display: block; */
    position: absolute;
    width: calc( 100% - 0.5rem );
    height: calc( 100% - 0.5rem );
    font-size: 20px;
    color: white;
    background-color: #33d1cc9c;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    transform: translateX(calc( -100% - 0.5rem ));
}

.work-section .row .box:hover::before{
    transform: translateX(0);
}

/* End Work Section */

/* Start Stuff Section */
.stuff-section .p-info{
    max-width: 500px;
}

/* End Stuff Section */

/* Start Team Section */
.team{
    background-color: #33d1cc;
}
/* End Team Section */

/* Start Subscribe Section  */
.subscribe input[type='email']::-webkit-input-placeholder {
    color: white !important;
    font-weight: bold;

}
.subscribe input[type='email']:focus,
.subscribe input[type='email']:active,
.subscribe input[type='email']:hover {
    outline: none !important;
}
    

/* End Subscribe Section  */

/* Start Footer */
footer ul a{
    font-size: 20px;
}
/* End Footer */


/* duplicated css */

.work-section,
.team-section {
    background-color: #eff7fa;
}

.main-title::after{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #33d1cc;
    margin: auto;
}

